<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack Game</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
            margin-top: 50px;
        }
        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>
</head>
<body>

<h1>Сыграем в игру, пёс?</h1>
<div class="content-container">
    <!-- Форма для запуска новой игры -->
    <form action="/start_game" method="POST">
        <button class="btn btn-primary" type="submit">Начать игру</button>
    </form>
    <!-- Изображение на стартовой странице -->
    <!--img src="https://i1.sndcdn.com/artworks-HGRdHI0fSEhu9acf-6qiZiA-t500x500.jpg" alt="Game Image" width="300" class="mt-4"-->
</div>
<div class="row mb-3 text-center">
      <div class="col-3 themed-grid-col">
	  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn74Z0dMiBvHz_Av4dx_krXwl0dpe6dzl9KQ&s" alt="beauty Image">
</div>
<div class="col-6 themed-grid-col">
<img src="https://i1.sndcdn.com/artworks-HGRdHI0fSEhu9acf-6qiZiA-t500x500.jpg" alt="Game Image" class="mt-4">
</div>
<div class="col-12 themed-grid-col">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn74Z0dMiBvHz_Av4dx_krXwl0dpe6dzl9KQ&s" alt="beauty Image">
</div>
</body>
</html>