<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack Game</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
            margin-top: 50px;
        }
        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>

<h1>Сыграем в игру, пёс?</h1>
<div class="content-container">
    <!-- Форма для запуска новой игры -->
    <form action="/start_game" method="POST">
        <button class="btn btn-primary" type="submit">Начать игру</button>
    </form>
    <!-- Изображение на стартовой странице -->
    <img src="https://i1.sndcdn.com/artworks-HGRdHI0fSEhu9acf-6qiZiA-t500x500.jpg" alt="Game Image" width="300" class="mt-4">
</div>

</body>
</html>